<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="101">
  <edit-config>
    <target>
      <running/>
    </target>
    <config>
      <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        <ip>
{% for route in routes %}
          <route>
            <ip-route-interface-forwarding-list>
              <prefix>{{ route.ip }}</prefix>
              <mask>{{ route.mask }}</mask>
              <fwd-list>
                <fwd>{{ route.next_hop }}</fwd>
              </fwd-list>
            </ip-route-interface-forwarding-list>
          </route>
{% endfor %}
        </ip>
      </native>
    </config>
  </edit-config>
</rpc>
